{% extends 'layout.html' %}
    {% block title %}
    Login Page
    {% endblock title %}
{% block content %}

<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-center">Registration </h2>
    </div>
  </div>
</section>
    <section id="contact" class="contact">
      <div class="container">
        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-4">
          <h4 class="text-center"> Create an account </h4>
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% endfor %}
        <form action="" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Full Name" data-rule="minlen:4" data-msg="Please enter your name" />
                <div class="validate"></div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="email" id="email" placeholder="Email Address" data-rule="minlen:4" data-msg="Please enter email" />
                <div class="validate"></div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" data-rule="minlen:4" data-msg="Please enter password" />
                <div class="validate"></div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" data-rule="minlen:4" data-msg="Please enter confirm password" />
                <div class="validate"></div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-success btn-block">Register</button>
            </div>
        </form>
            <small>Already have an account <a href="{% url 'login' %}">Login Here!</a></small>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
{% endblock content %}
