{% extends 'layout.html' %}
    {% block title %}
    About Page
    {% endblock title %}
{% block content %}
    <!-- about -->
  <div class="content">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="about-section">
                      <h2>{{about.title}}</h2>
                      <p class="lead">{{about.description}}</p>
                 </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <img src="{{about.image.url}}" alt="" class="img-responsive">
              </div>
          </div>
      </div>
  </div>
{% endblock content %}