
{% extends 'layout.html' %}
{% block title %}
Inner Page
{% endblock title %}
{% block content %}

{% load static %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>GM Equity 1st Mutual Fund</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    {{fund_info.description | safe}}
                </div>  
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <!-- sidenav-section -->
                    <div class="sidenav">
                        <ul>
                         <li><a href="{% url 'fund-info' %}">{{fund_info.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </main><!-- End #main -->
{% endblock content %}