{% extends 'layout.html' %}
    {% block title %}
    Home Page
    {% endblock title %}
{% block content %}
{% include 'slider.html' with sliderdata=slider%}
<!-- ======= About Us Section ======= -->
{% load static %}
    <!-- service -->
    <div class="space-medium">
      <div class="container">
          <div class="row">
              {%for item in categories %}
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="service-block">
                      <div class="service-icon">
                          <img src="{{item.image.url}}" alt="">
                      </div>
                      <div class="service-content">
                           <h4><a href="#"  class="title">
                             {{item.cat_nm}} </a></h4>
                          <p>{{item.remarks}}</p>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>
  <!-- /.service -->
  <!--partner-logo -->
  <div class="space-medium bg-light ">
      <div class="container-fluid">
          <div class="row">
            {% for item in partners %}
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="logo-img">  <img src="{{item.image.url}}" alt="" class="img-responsive" ></div>
              </div>
            {% endfor %}  
          </div>
      </div>
  </div>
  <!--partner-logo -->
  <!--about -->
  <div class="space-medium">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="about-section">
                      <h2>{{about.title}}</h2>
                      <p class="lead">{{about.description}} <strong>consecter anulla alacinia consequate</strong> sonese magliquam vulputate seronse.</p>
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb30">
                              <h4>Our Mission</h4>
                              <p>Integer consequat erossed seroni tempor aliquetaesente in minibh consecter anulla alacinia.</p>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb30">
                              <h4>Our Vision</h4>
                              <p>Maecenas vitae leoest ntegera on orci nullau biquis dicum llentque habiistique.</p>
                          </div>
                      </div>
                      <a href="#" class="btn btn-default mb30">More About Company</a>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <img src="{{about.image.url}}" alt="" class="img-responsive">
              </div>
          </div>
      </div>
  </div>
  <!--/.about -->
  <hr>
  <!-- investment advisor-->
   <div class="mb130">
      <div class="bg-default">
      <div class="container">
          <div class="row">
              <div class="advisor-carousel">
                  <div class="owl-carousel owl-two owl-theme ">
                      {% for item in advisors %}
                      <div class="item">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="advisor-section">
                                  <div class="row">
                                      <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
                                          <div class="advisor-img">
                                              <img src="{{item.image.url}}" alt="">
                                          </div>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                          <div class="advisor-content">
                                              <p class="advisor-text">{{item.quote}}</p>
                                              <p class="advisor-meta">{{item.name}}</p>
                                              <p>({{item.designation}})</p>
                                              <div class="sign-icon">
                                                  <img src="{% static 'images/sign_1.png' %}" alt="" class="img-responsive">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="">
                                  <div class=""><span></span></div>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  <!-- /.investment advisor -->
    
{% endblock content %}