
{% extends 'layout.html' %}
{% block title %}
Home Page
{% endblock title %}
{% block content %}

{% load static %}

 <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Inner Page</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
                    <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    {{service.description | safe}}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <!-- sidenav-section -->
                    <div class="sidenav">
                        <ul>
                            {% for item in services %}
                                {% if item.id == 1 %}
                                    <li class="active"><a href="{% url 'service-single' item.id %}">{{item.name}}</a></li>
                                {% else %}
                                    <li><a href="{% url 'service-single' item.id %}">{{item.name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
      </div>
    </section>

  </main><!-- End #main -->    
{% endblock content %}