{% extends 'layout.html' %} {% block title %} SIP Page 
{% endblock title %} {% block content %} {% load static %}

<main id="main">
 <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>SIP Page</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>SIP Page</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class="row">{{sip_record.description | safe }}</div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock content %}



