{% load static %}
      <!-- slider -->
      <div class="slider">
        <div class="owl-carousel owl-one owl-theme">
            {% for item in sliders %}
            <div class="item">
                <div class="slider-img"> <img src="{{item.image.url}}" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-sm-6 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">{{item.title}}</h1>
                                <ul class="hidden-sm hidden-xs">
                                    <li>{{item.description}}</li>
                                </ul>
                                <a href="#" class="btn btn-primary btn-lg hidden-xs">Get Free Template</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.slider -->