
{% extends 'layout.html' %}
{% block title %}
Home Page
{% endblock title %}
{% block content %}
{% include 'slider.html' with sliderdata=slider%}

{% load static %}
    <!-- service single -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    {{strategy.description | safe }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <!-- sidenav-section -->
                    <div class="sidenav">
                        <ul>
                            {% for item in strategies %}
                                {% if item.id == 1 %}
                                    <li class="active"><a href="{% url 'strategy-single' item.id %}">{{item.name}}</a></li>
                                {% else %}
                                    <li><a href="{% url 'strategy-single' item.id %}">{{item.name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.single-services -->
{% endblock content %}